<div id="adminMain">

    <!-- Modules -->
    <div id='moduleBox'>
        <h1>Main Page Content</h1><button ng-click='admin.addModule()'>Add Module</button><br><br>
        <table>
            <tr ng-repeat='module in admin.modules'>
                <td>{{module.title}}</td>
                <td><a href='/admin/module?title={{module.title}}'>Edit</a></td>
                <td><a href='' ng-click='admin.deleteModule(module._id)'>Delete</a>
            </tr>
        </table>
    </div>

    <!-- Galleries -->
    <div id='galleryBox'>
        <h1>Galleries</h1><button ng-click='admin.addGallery()'>Add Gallery</button><br><br>
        <table>
            <tr>
                <th>Gallery Name</th>
            </tr>
            <tr ng-repeat='gallery in admin.galleries'>
                <td>{{gallery.name}}</td>
                <td><a href='/admin/gallery?_id={{gallery._id}}'>Edit</a></td>
                <td><a href='#' ng-click='admin.deleteGallery(gallery._id)'>Delete</a></td>
            </tr>
        </table>
    </div>

    <!-- PNMS -->
    <div id="pnmBox">
        <h1>PNMs</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat='pnm in admin.pnms'>
                <td>{{pnm.name}}</td>
                <td>{{pnm.email}}</td>
            </tr>
        </table>
    </div>
</div>