<div id="home">
    <div id="hero">
        <div id='mask'><div id='title-text'>Alpha Sigma Phi - Rho Colony<br>Better the World through Better Men</div></div>
            <img id='hero-img' src='images/initiation.jpg'>  
    </div>
    <div class="paragraph-wrapper">
    	<div class="text">
    		Lorem ipsum dolor sit amet, soleat conceptam in per, accommodare reprehendunt ius id. Id essent dictas vel. Ad quodsi maiestatis duo, eum cu modus vocibus. Qui eu mollis delenit, cum labore persequeris eu, eam ne viris commodo euripidis. Ut dolor rationibus eam, facer equidem mei at.

			Sea no hinc animal bonorum, porro deleniti imperdiet ei sea. Ne utamur aliquid nam, eros reque assum no cum, an vis brute falli. Modo integre duo te, ne laoreet principes inciderint ius, appetere definitiones in sit. Quo id atqui comprehensam, solum ipsum imperdiet at per, et ius rebum blandit. Ancillae adipisci quo et, impetus indoctum duo ad.

			Ut eos reprimique disputationi. Solum impedit ut pri. Id soleat quodsi nam, no qui feugiat patrioque definiebas. Sed duis velit menandri cu. Feugiat noluisse duo et, mea eu aperiam assentior, ei vide populo conceptam mea. At doming detracto vim.

			Sea an nisl graeco, at vel probatus inciderint, per ad placerat accusamus. Qui dico sale consulatu no, eu mea democritum accommodare. Pro at quidam cotidieque, et pri alii laoreet persecuti. Debet nominati volutpat vim ut, modo meis animal eos eu, vix mazim prodesset ad. Ubique vivendo apeirian cum ex, sea ea quod quodsi suavitate, clita utroque evertitur at mea. Eos docendi percipitur ne, postulant accusamus expetendis sed cu, vitae intellegat ne duo.

			Sed vide philosophia ex, audire volumus cu duo. Ut pri quaeque numquam, adhuc mazim adipisci qui at. Ex aeque impetus pertinacia vim, nulla perpetua te sit. Usu graeci epicurei delectus et, sit iusto nostrud apeirian ne, assum tation te sed. Adhuc feugiat mei an, te sit laoreet maiestatis.
		</div>
		<img class="image" src="images/RW_Seal.jpg">
	</div>

	<div class="paragraph-wrapper">
		<img class="image" src="images/RW_Seal.jpg">
    	<div class="text">
    		Lorem ipsum dolor sit amet, soleat conceptam in per, accommodare reprehendunt ius id. Id essent dictas vel. Ad quodsi maiestatis duo, eum cu modus vocibus. Qui eu mollis delenit, cum labore persequeris eu, eam ne viris commodo euripidis. Ut dolor rationibus eam, facer equidem mei at.

			Sea no hinc animal bonorum, porro deleniti imperdiet ei sea. Ne utamur aliquid nam, eros reque assum no cum, an vis brute falli. Modo integre duo te, ne laoreet principes inciderint ius, appetere definitiones in sit. Quo id atqui comprehensam, solum ipsum imperdiet at per, et ius rebum blandit. Ancillae adipisci quo et, impetus indoctum duo ad.

			Ut eos reprimique disputationi. Solum impedit ut pri. Id soleat quodsi nam, no qui feugiat patrioque definiebas. Sed duis velit menandri cu. Feugiat noluisse duo et, mea eu aperiam assentior, ei vide populo conceptam mea. At doming detracto vim.

			Sea an nisl graeco, at vel probatus inciderint, per ad placerat accusamus. Qui dico sale consulatu no, eu mea democritum accommodare. Pro at quidam cotidieque, et pri alii laoreet persecuti. Debet nominati volutpat vim ut, modo meis animal eos eu, vix mazim prodesset ad. Ubique vivendo apeirian cum ex, sea ea quod quodsi suavitate, clita utroque evertitur at mea. Eos docendi percipitur ne, postulant accusamus expetendis sed cu, vitae intellegat ne duo.

			Sed vide philosophia ex, audire volumus cu duo. Ut pri quaeque numquam, adhuc mazim adipisci qui at. Ex aeque impetus pertinacia vim, nulla perpetua te sit. Usu graeci epicurei delectus et, sit iusto nostrud apeirian ne, assum tation te sed. Adhuc feugiat mei an, te sit laoreet maiestatis.
		</div>
	</div>
	<div id="email">
		<div id="email-text">
			Want to learn more? Give us your email!
		</div>
		<button id="email-button" type="button">EMAIL BUTTON</button>
	</div>
</div>